{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Register {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <!-- Table -->
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
        
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-transparent pb-5">
              <div class="text-muted text-center mt-2 mb-4">
                Sign UP
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">

                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        <a class="close" href="#" data-dismiss="alert">×</a>
                        {{ message }}
                    </div>
                {% endfor %} 
              
              </div>

              {% if not success %}

                <form method="POST" >

                  {% csrf_token %}
                  
                  <div class="row">
                    <div class="form-group">
                      <div class="form-group">
                        <div class="input-group input-group-alternative mb-3">
                            <div class="input-group-prepend">
                               <span class="input-group-text"><i class="ni ni-single-02"></i>&nbsp;&nbsp;<label>Usuario</label></span>
                               {{ mainForm.username }}
                            </div>
                          </div>
                      </div>
                      
                      <div class="form-group">
                        <div class="input-group input-group-alternative mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-email-83"></i>&nbsp;&nbsp;<label>Nombre</label></span>
                            {{ form.userFistName }}
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="input-group input-group-alternative mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-email-83"></i>&nbsp;&nbsp;<label>Apellido</label></span>
                            {{ form.userLastName }}
                          </div>
                        </div>
                      </div>
                      
                      <div class="form-group">
                        <div class="input-group input-group-alternative mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-email-83"></i>&nbsp;&nbsp;<label>Edad</label></span>
                            {{ form.userAge }}
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="input-group input-group-alternative">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-atom"></i>&nbsp;&nbsp;<label>Rut</label></span>
                            {{ form.userRut }}
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="input-group input-group-alternative mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-email-83"></i>&nbsp;&nbsp;<label>Correo</label></span>
                            {{ mainForm.email }}
                          </div>
                        </div>
                      </div>
                      
                      <div class="form-group">
                        <div class="input-group input-group-alternative">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-atom"></i>&nbsp;&nbsp;<label>Numero Telefono</label></span>
                            {{ form.userPhoneNumber }}
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="input-group input-group-alternative">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-atom"></i>&nbsp;&nbsp;<label>Direccion</label></span>
                            {{ form.userAddress }}
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="input-group input-group-alternative">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-hat-3"></i>&nbsp;&nbsp;<label>Tipo de Usuario</label></span>
                            {{ form.userType}}
                          </div>
                        </div>
                      </div>          

                      <div class="form-group">
                        <div class="input-group input-group-alternative">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i>&nbsp;&nbsp;<label>Contraseña</label></span>
                            {{ mainForm.password }}
                          </div>
                        </div>
                      </div>

                      

                                  
                    </div>                  
                  </div>

                 

                  <div class="row my-4">
                    
                    <div class="col-12">
                      
                      <div class="custom-control custom-control-alternative custom-checkbox">
                        <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                        <label class="custom-control-label" for="customCheckRegister">
                          <span class="text-muted">I agree with the <a href="#!">Privacy Policy</a></span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary mt-4" name="register">Create account</button>
                  </div>
                </form>

              {% endif %}  
  
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
