{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Register {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <!-- Table -->
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
        
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-transparent pb-5">
              <div class="text-muted text-center mt-2 mb-4">
                Sign UP
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                {% for message in messages %}
                    <div class="alert {{ message.tags }}">
                        <a class="close" href="{% url 'registerUser' %}" data-dismiss="alert">×</a>
                        {{ message }}
                    </div>
                {% endfor %}
              </div>

              {% if not success %}

                <form method="POST" >

                  {% csrf_token %}
                  
                    <div class="form-group">
                      <div class="form-group">
                        <div class="input-group input-group-merge input-group-alternative mb-3">
                            <div class="input-group-prepend">
                               <span class="input-group-text"><i class="ni ni-single-02"></i>&nbsp;&nbsp;&nbsp;<label>Nombre Compañia</label></span>
                            </div>
                            {{ form.name }}
                          </div>
                      </div>
                      
                      <div class="form-group">
                        <div class="input-group input-group-merge input-group-alternative mb-3">
                          <div class="input-group-prepend">                      
                            <span class="input-group-text"><i class="ni ni-single-02"></i>&nbsp;&nbsp;<label for="fn">Descripcion</label></span>
                          </div>
                          {{ form.description }}
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="input-group-merge input-group-alternative mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-hat-3"></i>&nbsp;&nbsp;<label>Responsable</label></span>  
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            {{ form.responsable }}            
                          </div>
                                                
                        </div>            
                      </div>          

                      <div class="form-group">
                        <div class="input-group input-group-merge input-group-alternative mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i>&nbsp;&nbsp;<label>Direccion</label></span>
                          </div>
                          {{ form.address }}
                        </div>
                      </div> 
                      
                      
                    </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary mt-4" name="registerCompany">Create account</button>
                  </div>
                </form>

              {% endif %}  
  
            </div>
          </div>

        </div>
      </div>
      <a href="{% url 'registerUser' %}">quieres registrar un usuario?</a>
    </div>
  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
