{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}
{% load humanize %}
{% block content %}

    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-3 col-md-6">
              
              {% if request.user.extend.userType == 2 %}

               <div class="card card-stats">
               
                  <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Total de asesorias solicitadas</h5>
                      <span class="h2 font-weight-bold mb-0">{{ totalOrders }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                        <i class="ni ni-active-40"></i>
                      </div>
                    </div>
                  </div>
                  <!-- <p class="mt-3 mb-0 text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                    <span class="text-nowrap">Since last month</span>
                  </p> -->
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
               
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Usuarios que utilizan el sistema</h5>
                      <span class="h2 font-weight-bold mb-0">{{ totalUsers }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                        <i class="ni ni-chart-pie-35"></i>
                      </div>
                    </div>
                  </div>
                  <!-- <p class="mt-3 mb-0 text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                    <span class="text-nowrap">Since last month</span>
                  </p> -->
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
             
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Compañias que confian en nosotros</h5>
                      <span class="h2 font-weight-bold mb-0">{{ totalCompanys }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                        <i class="ni ni-money-coins"></i>
                      </div>
                    </div>
                  </div>
                  <!-- <p class="mt-3 mb-0 text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                    <span class="text-nowrap">Since last month</span>
                  </p> -->
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
              
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Dinero ganado por asesorias</h5>
                      <span class="h2 font-weight-bold mb-0">${{ moneyEarned.amount__sum |intcomma}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                        <i class="ni ni-chart-bar-32"></i>
                      </div>
                    </div>
                  </div>
                  <!-- <p class="mt-3 mb-0 text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                    <span class="text-nowrap">Since last month</span>
                  </p> -->
                </div> 
              </div>

              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

    {% if request.user.extend.userType == 2 %}
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-8">
          <div class="card bg-default">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  
                  <h5 class="h3 text-white mb-0">Capacitaciones solicitadas por cliente</h5>
                </div>      
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
                <!-- Chart wrapper -->
                <canvas id="chart-sales-dark" class="chart-canvas"></canvas>
              </div>


            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  
                  <h5 class="h3 mb-0">Clientes registrados por compañias</h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
                <canvas id="chart-bars" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

      {% if request.user.extend.userType == 1 %}
      <div class="container-fluid mt--6">
        <div class="row">
          <div class="col">
            <div class="card bg-default shadow">
              <div class="card-header bg-transparent border-0">
                <h3 class="text-white mb-0">Bienvenido! Aqui encontraras todas las fechas de tus trabajos asignados
                </h3>
              </div>
              <div class="table-responsive">
                <table class="table align-items-center table-dark table-flush">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col" class="sort" >Id Trabajo</th>
                      <th scope="col" class="sort" >Tipo  Trabajo</th> 
                      <th scope="col" class="sort" >Fecha </th>                                     
                    </tr>
                  </thead>
                  <tbody class="list">
                    <tr>
                      {% for instance in ordersAssigned %}
                        <td>{{instance.pk}}</td>
                        <td>
                          {% if instance.type == 1 %}
                            Asesoria Especial
                          {% else %}
                            Asesoria Normal
                          {% endif %}
                        </td>
                        <td>{{instance.dateVisit}}</td>
                      {% endfor %}
                      
                    </tr>
                    <tr>
                      {% for instance in trainingAssigned %}
                      <td>{{instance.pk}}</td>
                      <td>Capacitacion</td>
                      <td>{{instance.date}}</td>
                      {% endfor %}
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      {% endif %}

      {% if request.user.extend.userType == 0 %}
      <div class="container-fluid mt--6">
        <div class="row">
          <div class="col">
            <div class="card bg-default shadow">
              <div class="card-header bg-transparent border-0">
                <h3 class="text-white mb-0">Bienvenido! Aqui te mostraremos si una de tus asesorias fue actualizada
                </h3>
              </div>
              <div class="table-responsive">
                <table class="table align-items-center table-dark table-flush">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col" class="sort" >Id Asesoria</th>
                      <th scope="col" class="sort" >Profesional Asignado</th> 
                      <th scope="col" class="sort" >Fue actualizada? </th>                                     
                    </tr>
                  </thead>
                  <tbody class="list">
                    <tr>
                      {% for instance in clientAssignedOrder %}
                        <td>{{instance.pk}}</td>
                        <td>
                          {{instance.employeeID}}
                        </td>
                        <td>
                            {% if instance.edited == 1 %}
                               La Orden fue modificada! por favor revisa los detalles
                            {% else %}
                              La orden todavia no ha sido modificada
                            {% endif%}
                        </td>
                      {% endfor %}                  
                   </tr>                   
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      {% include "includes/footer.html" %}

    </div>

    <div style="visibility: hidden;" id="datos"> <!--"-->
      <p id="clientOrders">{{clientOrders}}</p>
      <p id="clientNames">{{clientNames}}</p>
      <p id="companyNames">{{companyNames}}</p>
      <p id="companyCount">{{companyCount}}</p>
    </div>

   
    <div style="visibility: hidden;" id="datos2"> <!--style="visibility: hidden;"-->
      
  
      
     
    </div>
    



{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
