{% extends 'layouts/base.html' %}

{% block title %} Show Checklist {% endblock title %}

{% block content %}


<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Checklist</h6>        
        </div>     
      </div>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card bg-default shadow">
        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">Estas son los checklist registrados</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th scope="col" class="sort" >ID</th>
                <th scope="col" class="sort" >OrdenID</th>
                <th scope="col" class="sort" >Titulo</th>
                <th scope="col">Profesional Asignado</th>
                {% if request.user.extend.userType == 1   %}
                <th scope="col" class="sort" >Ver/Editar</th>
                {% endif %}
              </tr>
            </thead>
            <tbody class="list">
              {% for instance in queryset %}                    
                <tr>
                  <td>{{instance.0}}</td>
                  <td>{{ instance.1 }}</td>
                  <td>{{ instance.2 }}</td>
                  <td>{{ instance.3 }}</td>              
                    {% if request.user.extend.userType == 1   %}
                      <td>
                        <a class="nav-link" href="{% url 'edit_checklist' checklist_pk=instance.0 %}">
                        <i class="ni ni-single-02 text-yellow"></i>
                      </td>
                    {%endif%}
                </tr>
               {% endfor %}
                
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
