{% extends 'layouts/base.html' %}

{% block title %} Show Checklist {% endblock title %}

{% block content %}


<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Checklist</h6>        
        </div>     
      </div>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
  
    <div class="col-xl-15 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Registra el checklist </h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}

            <h6 class="heading-small text-muted mb-4">Informacion</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Orden</label>
                    {{ form.orderID }}
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Profesional Asignado</label>
                    {{ form.professionalAssigned }}
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Titulo Checklist </label>
                    {{ form.title }}
                  </div>
                </div>
              </div>
              
              <div class="row">
                
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Pregunta 1 </label>
                    {{ form.question1 }}
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Respuesta 1 </label>
                    {{ form.answer1 }}
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Pregunta 2 </label>
                    {{ form.question2 }}
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Respuesta 2 </label>
                    {{ form.answer2 }}
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Pregunta 3 </label>
                    {{ form.question3 }}
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Respuesta 3 </label>
                    {{ form.answer3 }}
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Pregunta 4 </label>
                    {{ form.question4 }}
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Respuesta 4 </label>
                    {{ form.answer4 }}
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Pregunta 5 </label>
                    {{ form.question5 }}
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Respuesta 5 </label>
                    {{ form.answer5 }}
                  </div>
                </div>
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-primary mt-4" name="registerChecklist">Crear checklist</button>
              </div>
          </form>
           
        </div>
      </div>
    </div>
  </div>
  <style type="text/css">
    select[name="professionalAssigned"] {
      pointer-events: none;
       background-color: lightgray; 
     }
  </style>

  {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
