{% extends 'layouts/base.html' %}

{% block title %} Show Checklist {% endblock title %}

{% block content %}


<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Asesorias</h6>        
        </div>     
      </div>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
  
    <div class="col-xl-15 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Registra la orden de trabajo </h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}

            <h6 class="heading-small text-muted mb-4">User information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">ID Usuario</label>
                    {{ order.userID   }}
                   
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">ID Empleado</label>
                    {{ order.employeeID }}
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Tipo Orden</label>
                    {{ order.type }}
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Descripcion</label>
                    {{ order.description }}
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name"></label>
                    {{ order.nextPayment }}
                  </div>
                </div>
              </div>
              
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name"></label>
                    {{ order.amount }}
                  </div>
                </div>
                
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name"></label>
                    {{ order.dateVisit }}
                  </div>
                </div>
                
                
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name"></label>
                    {{ order.improvement }}
                  </div>
                </div>
                
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name"></label>
                    {{ order.edited }}
                  </div>
                </div>
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-primary mt-4" name="registerOrder">Create order</button>
              </div>
          </form>
           
        </div>
      </div>
    </div>
  </div>
  <style type="text/css">
    select[name="userID"] {
      pointer-events: none;
       background-color: lightgray; 
     }
   </style>
  <style type="text/css">
    select[name="nextPayment"],[name="amount"],[name="dateVisit"],[name="improvement"],[name="nextPayment"],[name="edited"] {
    display: none;
   }
  </style>

  {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
